<!DOCTYPE html>
<html ng-app="myApp">
<head>
   <script src="static/jquery-3.3.1.min.js"></script>
   <script src="static/bootstrap.min.js"></script>
   <script src="static/angular.min.js"></script>
   <link href="static/bootstrap.min.css" rel="stylesheet" />
   <link href="static/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Data Access : MongoDb</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
    </nav>
    <div class="container body-content" ng-controller="myController">
      <br />
      <a href="/" class="btn btn-primary">Logout</a> 
        <table class="table">

      <div>
            <tr>
                <th>Product ID</th>
                <th>Product Brand</th>
                <th>Product Name</th>
                <th>Product Desc</th>
                <th>Status</th>
                <th>Action</th>


 
            </tr>
            <tr ng-repeat="product in products">
                <td>{{product.pid}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.product_brand}}</td>
                <td>{{product.product_description}}</td>
                <td>{{product.is_approved}}</td>
                <td>

                    <a href="/approve_product/{{product._id}}" class="btn btn-success">Approve Product</a>
                </td>
            </tr>
      </div>
        </table>
        <br />
        <hr />
        <footer>
          &copy; Admin
        </footer>
        <script>
            var products = <%- JSON.stringify(products_data) %>;
            console.log(products);
        </script>
        <script src="static/app.js"></script>
    </div>
</body>
</html>